<header class="top-header">
  <div class="header-left">
    <form class="search-form" action="/teachers" method="GET">
      <input type="text" name="search" placeholder="Search teachers..." value="">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="header-right">
    <a href="/teachers/add" class="btn btn-primary">+ Add Teacher</a>
  </div>
</header>
